@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Animations */
@import url(../animations/anim-glitch.css);
@import url(../animations/anim-glitchop.css);

* {
  margin: 0px;
  padding: 0px;
  font-size: 1.1em;
  text-decoration: none;
}

main {
  padding: 10px;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../../images/metropainel/metropainel-300.webp);
  filter: brightness(0.5);
  z-index: -1;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
} 
body > * {
  position: relative;
}

/* header, nav, main, footer {
  background-color: rgba(0, 0, 0, 0.445);
} */

#fotoblogdiv {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

img#fotoblog{
  position: relative;
  display: block;
  top: auto;
  right: auto;
  width: 40vw;
  max-width: 200px;
  height: auto;
  aspect-ratio: 1/1;
  opacity: 90%;
  border-radius: 1vw;
  object-fit: cover;
}

section {
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(2 27 0 / 56%);
  display: block;
  animation: glitch1 0.5s;
}

:root { /*Working with variables*/
  --fonte-del: 'Raleway', sans-serif;
}

#title {
  font-family: 'Raleway';
  color: white;
  font-weight: 200;
  font-size: 1.5em;
  overflow-wrap: break-word;
  /* word-break: break-all;  Break letters */

  opacity: 1;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);

  cursor: pointer;
}

h1 {
  font-family: 'Raleway';
  color: white;
  font-weight: 200;
  font-size: 1.5em;
}

h2 {
  font-family: 'Raleway';
  color: white;
  font-weight: 200;
  font-size: 1.4em;
}

p {
  font-family: 'Raleway';
  color: white;
  font-weight: 300;
  font-size: 1.1em;
}

.linklist {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

main > #getintouch {
  font-family: 'Raleway';
  color: #ffffffb2;
  cursor: pointer;
}

a#meeting {
  font-family: 'Raleway';
  color: white;
  font-weight: 300;
  font-size: 1.1em;
}

a#meeting:hover {
  color: #6aff65c9;
  animation: glitch1 1s;
  font-weight: bold;
}