[Unit]
Description=Gunicorn instance to serve app Flask app
After=network.target

[Service]
User=user
Group=www-data
WorkingDirectory=/home/user/repos-git/website-portifolio
Environment="PATH=/home/user/repos-git/website-portifolio/yoh-app/bin"
ExecStart=/home/user/repos-git/website-portifolio/yoh-app/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
