<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/print.css">
    <link rel="stylesheet" href="../static/css/tablet.css">
    <link rel="stylesheet" href="../static/css/desktop.css">
    <link rel="stylesheet" href="../static/css/big-screens.css">
    <link rel="shortcut icon" href="../static/images/icons/icon-notes.png">
    <meta http-equiv="X-UA-Compsatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Yoh.
    </title>
</head>
<body>
<header>
    <img id="devopsiconsanim" src="../static/images/DevOpsToolsIconsAnim.webp" alt="">
    <nav>
        <menu id="homemenu">
            <h2 id="plan" class="menuclick" onclick="clickPlan()">Plan</h2>

            <menu id="menuplan" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="plan1" class="animbackmenu1" onclick="clickPlan()">Plan</h2>
                    <h2 id="plan2" class="animbackmenu2" onclick="clickPlan()">Plan</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                    <h2 id="plan3" class="animbackmenu3" onclick="clickPlan()">Plan</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.evernote.com/shard/s397/sh/5be6074c-80b9-db67-e25d-6b152c64f734/4YmFGpgcAf5DDvlkoibChDX0SXpVVw58VRO4CEH2ofaTrTI7aXZ8HmyWhA" target="_blank" rel="external">Sketch Photos</a>
                    </li>
                </ul>
            </menu>

            <h2 id="code" class="menuclick" onclick="clickCode()">Code</h2>

            <menu id="menucode" class="firstmenu">
                <menu class="animbackmenu"> 
                    <h2 id="code1" class="animbackmenu1" onclick="clickCode()">Code</h2>
                    <h2 id="code2" class="animbackmenu2" onclick="clickCode()">Code</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                    <h2 id="code3" class="animbackmenu3" onclick="clickCode()">Code</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://github.com/yohrannes/website-portifolio" target="_blank" rel="external">Github Project</a>
                        <a href="https://github.com/search?q=repo%3Ayohrannes%2Fwebsite-portifolio%20dockerfile&type=code" target="_blank" rel="external">Dockerfile</a>
                        <a href="https://github.com/search?q=repo%3Ayohrannes%2Fwebsite-portifolio%20terraform&type=code" target="_blank" rel="external">Terraform</a>
                    </li>
                </ul>

            </menu>

            <h2 id="build" class="menuclick" onclick="clickBuild()">Build</h2>

            <menu id="menubuild" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="build1" class="animbackmenu1" onclick="clickBuild()">Build</h2>
                    <h2 id="build2" class="animbackmenu2" onclick="clickBuild()">Build</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                    <h2 id="build3" class="animbackmenu3" onclick="clickBuild()">Build</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://gitlab.com/yohrannes/website-portifolio/-/pipelines" target="_blank" rel="external">Gitlab pipeline</a>
                        <a href="https://hub.docker.com/r/yohrannes/website-portifolio" target="_blank" rel="external">Docker image</a>
                    </li>
                </ul>

            </menu>
            
            <h2 id="test" class="menuclick" onclick="clickTest()">Test</h2>

            <menu id="menutest" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="test1" class="animbackmenu1" onclick="clickTest()">Test</h2>
                    <h2 id="test2" class="animbackmenu2" onclick="clickTest()">Test</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                    <h2 id="test3" class="animbackmenu3" onclick="clickTest()">Test</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://github.com/search?q=repo%3Ayohrannes%2Fwebsite-portifolio%20trivy&type=code target="_blank" rel="external">Trivy Security tool</a>
                        <a href="https://github.com/search?q=repo%3Ayohrannes%2Fwebsite-portifolio%20scout&type=code" target="_blank" rel="external">Docker scout tool</a>
                    </li>
                </ul>
            </menu>

            <h2 id="release" class="menuclick" onclick="clickRelease()">Release</h2>

            <menu id="menurelease" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="release1" class="animbackmenu1" onclick="clickRelease()">Release</h2>
                    <h2 id="release2" class="animbackmenu2" onclick="clickRelease()">Release</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                    <h2 id="release3" class="animbackmenu3" onclick="clickRelease()">Release</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="devops" target="_self" rel="external">News features ##Comming</a>
                        <a href="https://github.com/yohrannes/website-portifolio/commits/develop/" target="_blank" rel="external">Project commits (develop branch)</a>
                        <a href="https://hub.docker.com/r/yohrannes/website-portifolio/tags" target="_blank" rel="external">Docker image versions</a>
                        <a href="https://github.com/yohrannes/website-portifolio/blob/main/usefull-scripts/pushport.sh" target="_blank" rel="external">Pushport script</a>
                        <a href="https://github.com/search?q=repo%3Ayohrannes%2Fwebsite-portifolio+version+tag%3D&type=code" target="_blank" rel="external">Version controler</a>
                    </li>
                </ul>
            </menu>

            <h2 id="deploy" class="menuclick" onclick="clickDeploy()">Deploy</h2>

            <menu id="menudeploy" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="deploy1" class="animbackmenu1" onclick="clickDeploy()">Deploy</h2>
                    <h2 id="deploy2" class="animbackmenu2" onclick="clickDeploy()">Deploy</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                    <h2 id="deploy3" class="animbackmenu3" onclick="clickDeploy()">Deploy</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.evernote.com/shard/s397/sh/6b4e9638-68f6-e36f-dcf9-00e922dc8e10/ImiTNOIbuZaUYPoJ-7uY_Ss3viz05NodeBCsrQctgs-DVTftUKX3hosXyw" target="_blank" rel="external">OKE note description</a>
                        <a href="https://github.com/yohrannes/website-portifolio/blob/main/build-app/build-notes.txt" target="_blank" rel="external">docker build notes</a>
                        <a href="https://github.com/yohrannes/website-portifolio/tree/main/kubernetes" target="_blank" rel="external">kubernetes project folder link</a>
                        <a href="https://github.com/yohrannes/website-portifolio/blob/main/usefull-scripts/get-last-commit.py" target="_blank" rel="external">pull last commit script.</a>
                        <a href="https://github.com/search?q=repo%3Ayohrannes%2Fwebsite-portifolio+deploy&type=code" target="_blank" rel="external">deploy scripts</a>
                    </li>
                </ul>
            </menu>

            <h2 id="operate" class="menuclick" onclick="clickOperate()">Operate</h2>

            <menu id="menuoperate" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="operate1" class="animbackmenu1" onclick="clickOperate()">Operate</h2>
                    <h2 id="operate2" class="animbackmenu2" onclick="clickOperate()">Operate</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                    <h2 id="operate3" class="animbackmenu3" onclick="clickOperate()">Operate</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://github.com/yohrannes/website-portifolio/blob/main/build-app/crontab.txt" target="_blank" rel="external">Log scripts</a>
                        <a href="auto-deploy-log" target="_blank" rel="external">Auto-deploy logs</a>
                    </li>
                </ul>
            </menu>

            <h2 id="monitor" class="menuclick" onclick="clickMonitor()">Monitor</h2>

            <menu id="menumonitor" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="monitor1" class="animbackmenu1" onclick="clickMonitor()">Monitor</h2>
                    <h2 id="monitor2" class="animbackmenu2" onclick="clickMonitor()">Monitor</h2>
                    <h2 class="animbackmenu-back">◂</h2>
                    <h2 id="monitor3" class="animbackmenu3" onclick="clickMonitor()">Monitor</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="devops" target="_self" rel="external">Prometheus some metrics ##Comming</a>
                        <a href="http://grafana.yohrannes.com/public-dashboards/691655ac53604d1dae948b8d897dedb2" target="_blank" rel="external">Public grafana dash.</a>
                        <a href="devops" target="_self" rel="external">Some health check statuses ##Comming</a>
                    </li>
                </ul>
            </menu>

        </menu>
    </nav>
    <a id="monit-logo" href="https://www.google.com">
        <img src="../static/images/monit-logo.png" alt="">
    </a>
    <div id="k8s-logo">
        <img src="../static/images/k8s-logo.png" alt="">
        <a id="websiteinfo" href="../" target="_self">back</a>
    </div>
    <script src="../static/js/anim-menu-devops.js"></script>
    <script src="../static/js/anim-titulo.js"></script>
    <script src="../static/js/anim-typewriter.js"></script>
    <!-- <script src="../static/js/anim-back-menu.js"></script> -->
</header>
</body>
</html>
