<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-800K09ML4B"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-800K09ML4B');
    </script>

    <title>Good Coexistence</title>
</head>
<body>
    <header>
        <h1>Guide too good coexistence on the internet</h1>
    </header>
    <main>
        <h2>#1 - No spam</h1>
        <p>The firstly thing i think is the best coexistence on the internet is about the spam. If you are a spammer please dont do that...</p>
        <h2>#2 - No hate</h2>
        <p>Today everyone knows the haters are composed of unresolved people, if you are a hater plase search for a psychologist or buy a very cute dog for you...</p>
        
    </main>
</body>
</html>