<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--
        Bucket integration
        <link rel="stylesheet" href="{{ config['STATIC_URL'] }}css/style.css">
        <img src="{{ config['STATIC_URL'] }}images/logo.png">
    -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/print.css">
    <link rel="stylesheet" href="../static/css/tablet.css">
    <link rel="stylesheet" href="../static/css/desktop.css">
    <link rel="stylesheet" href="../static/css/big-screens.css">
    <link rel="shortcut icon" href="../static/images/icons/icon-notes.png">
    <meta http-equiv="X-UA-Compsatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function detectRegion() {
            var language = navigator.language || navigator.userLanguage;
            return language.substring(0, 2);
        }
        function askLanguage() {
            var region = detectRegion();
            if (region != "en") {
            var message = "This site is only available in english. Do you want the browser to translate the content for you?";
            if (confirm(message)) {
                document.documentElement.setAttribute("lang", "en");
                document.documentElement.setAttribute("translate", "yes");
            }
            }
        }
        window.onload = askLanguage;
    </script>
    <title>
        Yoh.
    </title>
</head>
<body>
<header>
    <div id="titlediv">
        <h1 onmouseover="HoverShowTitle()" onmouseout="HoverHideTitle()">
            <a id="title" href="whoami" target="_blank">Yohrannes Santos Bigoli</a>
        </h1>
    </div>
    <div id="foto1"></div>
    <div id="foto2"></div>
    <img id="foto" src="https://avatars.githubusercontent.com/u/51239326?v=4" alt="">
    <div id="typewrite" onmouseover="HoverShowTitle()" onmouseout="HoverHideTitle()">
        <h1>
            <a href="" class="typewrite" data-period="2000" data-type='[ "Hi...", "be welcome!", "bye..."]'>
                <span class="wrap"></span>
            </a>
        </h1>
    </div>
    <nav>
        <menu id="homemenu">
            <h2 id="social" class="menuclick" onclick="clickSocial()">Social</h2>

            <menu id="menusocial" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="social1" class="animbackmenu1" onclick="clickSocial()">Social</h2>
                    <h2 id="social2" class="animbackmenu2" onclick="clickSocial()">Social</h2>
                    <h2 id="social3" class="animbackmenu3" onclick="clickSocial()">Social</h2>
                    <h2 class="animbackmenu-back" onclick="clickSocial()">◂</h2>
                </menu>
                <h2 id="professionalnetworks" class="secondmenuclick" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                <h2 id="socialcircles" class="secondmenuclick" onclick="clickSocialCircles()">Social Circles</h2>
            </menu>

            <menu id="menuprofessionalnetworks" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="professionalnetworks1" class="animbackmenu1" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                    <h2 id="professionalnetworks2" class="animbackmenu2" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                    <h2 id="professionalnetworks3" class="animbackmenu3" onclick="clickProfessionalNetworks()">Professional Networks</h2>
                    <h2 class="animbackmenu-back" onclick="clickProfessionalNetworks()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.linkedin.com/in/yohrannes-santos-bigoli-46076ab3/" target="_blank" rel="external">Linkedin</a>
                        <a href="https://www.seek.com.au/profiles/yohrannes-bigoli-5SkLXHMZsy" target="_blank" rel="external">Seek</a>
                        <a href="https://github.com/yohrannes" target="_blank" rel="external">Github</a>
                        <a href="https://gitlab.com/yohrannes" target="_blank" rel="external">Gitlab</a>
                        <a href="https://gitlab.gnome.org/yohrannes" target="_blank" rel="external">Gitlab Gnome</a>
                        <a href="https://hub.docker.com/u/yohrannes" target="_blank" rel="external">DockerHub</a>
                        <a href="https://stackoverflow.com/users/19536006/yohrannes-santos-bigoli" target="_blank" rel="external">Stack Overflow</a>
                        <a href="https://www.classcentral.com/@yohrannes" target="_blank" rel="external">Class Central</a>
                        <a href="https://www.cloudskillsboost.google/public_profiles/d446290c-301d-4cec-bf2c-c1e1ba9752f1" target="_blank" rel="external">GCP skillsbost</a>
                        <a href="https://registry.terraform.io/namespaces/yohrannes" target="_blank" rel="external">Terraform</a>
                    </li>
                </ul>
            </menu>

            <menu id="menusocialcircles" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="socialcircles1" class="animbackmenu1" onclick="clickSocialCircles()">Social Circles</h2>
                    <h2 id="socialcircles2" class="animbackmenu2" onclick="clickSocialCircles()">Social Circles</h2>
                    <h2 id="socialcircles3" class="animbackmenu3" onclick="clickSocialCircles()">Social Circles</h2>
                    <h2 class="animbackmenu-back" onclick="clickSocialCircles()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.instagram.com/yohrannes_tribal/" target="_blank" rel="external">Instagram</a>
                    </li>
                </ul>
            </menu>

            <h2 id="projects" class="menuclick" onclick="clickProjects()">Projects</h2>

            <menu id="menuprojects" class="firstmenu">
                <menu class="animbackmenu"> 
                    <h2 id="projects1" class="animbackmenu1" onclick="clickProjects()">Projects</h2>
                    <h2 id="projects2" class="animbackmenu2" onclick="clickProjects()">Projects</h2>
                    <h2 id="projects3" class="animbackmenu3" onclick="clickProjects()">Projects</h2>
                    <h2 class="animbackmenu-back" onclick="clickProjects()">◂</h2>
                </menu>
                <h2 id="devops" class="secondmenuclick" onclick="clickDevOps()">Dev Ops</h2>
                <h2 id="backend" class="secondmenuclick" onclick="clickBackend()">Backend</h2>
                <h2 id="frontend" class="secondmenuclick" onclick="clickFrontend()">Frontend</h2>
                <h2 id="personaleditions" class="secondmenuclick" onclick="clickPersonalEditions()">Graphic Gallery</h2>
            </menu>

            <menu id="menudevops" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="devops1" class="animbackmenu1" onclick="clickDevOps()">Dev Ops</h2>
                    <h2 id="devops2" class="animbackmenu2" onclick="clickDevOps()">Dev Ops</h2>
                    <h2 id="devops3" class="animbackmenu3" onclick="clickDevOps()">Dev Ops</h2>
                    <h2 class="animbackmenu-back" onclick="clickDevOps()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://github.com/yohrannes/accesshub" target="_blank" rel="external">AccessHub - ssh manager</a>
                        <a href="https://github.com/yohrannes/docker-mine" target="_blank" rel="external">Mine server - Docker</a>
                        <a href="https://github.com/yohrannes/website-portifolio" target="_blank" rel="external">This website</a>
                        <a href="https://hub.docker.com/repository/docker/yohrannes/nginx/general" target="_blank" rel="external">Nginx light secure docker image</a>
                        <a href="https://hub.docker.com/repository/docker/yohrannes/website-portifolio/general" target="_blank" rel="external">This website light secure docker image</a>
                        <a href="https://hub.docker.com/repository/docker/yohrannes/website-portifolio/general" target="_blank" rel="external">This website light secure docker image</a>
                    </li>
                </ul>
            </menu>

            <menu id="menubackend" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="backend1" class="animbackmenu1" onclick="clickBackend()">Backend</h2>
                    <h2 id="backend2" class="animbackmenu2" onclick="clickBackend()">Backend</h2>
                    <h2 id="backend3" class="animbackmenu3" onclick="clickBackend()">Backend</h2>
                    <h2 class="animbackmenu-back" onclick="clickBackend()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://github.com/yohrannes/mysql-pizzariadb" target="_blank" rel="external">Pizzeria - Database</a>
                    </li>
                </ul>
            </menu>

            <menu id="menufrontend" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="frontend1" class="animbackmenu1" onclick="clickFrontend()">Frontend</h2>
                    <h2 id="frontend2" class="animbackmenu2" onclick="clickFrontend()">Frontend</h2>
                    <h2 id="frontend3" class="animbackmenu3" onclick="clickFrontend()">Frontend</h2>
                    <h2 class="animbackmenu-back" onclick="clickFrontend()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://github.com/yohrannes/php-moderno" target="_blank" rel="external">PHP learn practices</a>
                        <a href="https://github.com/yohrannes/html-css" target="_blank" rel="external">HTML CSS practices</a>
                        <a href="https://github.com/yohrannes/htmlcss-projeto-login" target="_blank" rel="external">HTML CSS login page</a>
                        <a href="https://github.com/yohrannes/htmlcss-projeto-social" target="_blank" rel="external">HTML CSS social medias page</a>
                        <a href="https://github.com/yohrannes/htmlcss-projeto-cordel" target="_blank" rel="external">HTML CSS nice scrool page</a>
                    </li>
                </ul>
            </menu>

            <menu id="menupersonaleditions" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="personaleditions1" class="animbackmenu1" onclick="clickPersonalEditions()">Personal Editions</h2>
                    <h2 id="personaleditions2" class="animbackmenu2" onclick="clickPersonalEditions()">Personal Editions</h2>
                    <h2 id="personaleditions3" class="animbackmenu3" onclick="clickPersonalEditions()">Personal Editions</h2>
                    <h2 class="animbackmenu-back" onclick="clickPersonalEditions()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="http://pinterest.com/catnoeditor/edição/" target="_blank" rel="external">Pinterest</a>
                    </li>
                </ul>
            </menu>

            <h2 id="tasksandguides" class="menuclick" onclick="clickTasksAndGuides()">Tasks and guides</h2>

            <menu id="menutasksandguides" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="tasksandguides1" class="animbackmenu1" onclick="clickTasksAndGuides()">Task nd g..</h2>
                    <h2 id="tasksandguides2" class="animbackmenu2" onclick="clickTasksAndGuides()">Task nd g..</h2>
                    <h2 id="tasksandguides3" class="animbackmenu3" onclick="clickTasksAndGuides()">Task nd g..</h2>
                    <h2 class="animbackmenu-back" onclick="clickTasksAndGuides()">◂</h2>
                </menu>
                <h2 id="kubernetes" class="secondmenuclick" onclick="clickKubernetes()">Kubernetes</h2>
                <h2 id="vpsnetwork" class="secondmenuclick" onclick="clickVpsnetwork()">Vps network</h2>
                <h2 id="hostingservices" class="secondmenuclick" onclick="clickHostingServices()">Hosting Services</h2>
                <h2 id="databases" class="secondmenuclick" onclick="clickDatabases()">Databases</h2>
                <h2 id="webservers" class="secondmenuclick" onclick="clickWebservers()">Webservers</h2>
                <h2 id="miscellaneous" class="secondmenuclick" onclick="clickMiscellaneous()">Miscellaneous</h2>
            </menu>

            <menu id="menukubernetes" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="kubernetes1" class="animbackmenu1" onclick="clickKubernetes()">Kubernetes</h2>
                    <h2 id="kubernetes2" class="animbackmenu2" onclick="clickKubernetes()">Kubernetes</h2>
                    <h2 id="kubernetes3" class="animbackmenu3" onclick="clickKubernetes()">Kubernetes</h2>
                    <h2 class="animbackmenu-back" onclick="clickKubernetes()">◂</h2>
                </menu>
                    <ul class="linklist">
                        <li><a href="https://www.evernote.com/shard/s397/sh/1a982392-27d2-04d5-d5fa-a3d6b06291c4/memuRepv4mhiPQrJRt_74QVDHjpIu6xs9K-LOwCQX-5ZWeT50a5DwvHpSw" target="_blank" rel="external canonical">K8s deployment Imperative - Virtuozzo Application Platform (pt-br)</a>
                    </ul>
            </menu>

            <menu id="menuvpsnetwork" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="vpsnetwork1" class="animbackmenu1" onclick="clickVpsnetwork()">Vps connections</h2>
                    <h2 id="vpsnetwork2" class="animbackmenu2" onclick="clickVpsnetwork()">Vps connections</h2>
                    <h2 id="vpsnetwork3" class="animbackmenu3" onclick="clickVpsnetwork()">Vps connections</h2>
                    <h2 class="animbackmenu-back" onclick="clickVpsnetwork()">◂</h2>
                </menu>
                    <ul class="linklist">
                        <li><a href="https://www.evernote.com/shard/s397/sh/37c0780f-5120-283e-e205-98d288c82980/DFlDmuSfGrN8KCIJ-JhFp_HZxlFexBs7KzLSxtgQ_ICwN06hKhYG6eYT7g" target="_blank" rel="external canonical">VS code SFTP - Virtuozzo Application Platform (en-us)</a>
                        <li><a href="https://www.evernote.com/shard/s397/sh/95493132-6997-679c-bfbc-d870c0ee1346/PAD3us0cncccIbMutVVoZ9WcoWRUmg1bjBKmTySl9msPBjjb7wAACH8VoA" target="_blank" rel="external canonical">Putty SSH - Virtuozzo Application Platform (pt-br)</a>
                    </ul>
            </menu>

            <menu id="menuhostingservices" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="hostingservices1" class="animbackmenu1" onclick="clickHostingServices()">Host svc..</h2>
                    <h2 id="hostingservices2" class="animbackmenu2" onclick="clickHostingServices()">Host svc..</h2>
                    <h2 id="hostingservices3" class="animbackmenu3" onclick="clickHostingServices()">Host svc..</h2>
                    <h2 class="animbackmenu-back" onclick="clickHostingServices()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.evernote.com/shard/s397/sh/90161548-c163-e825-6e9b-0b37e8d00475/JS5JcHSNIBsqtKcPNKenkbWmx7ZYQRSvzaS1uS4ZFDwx1OlR0QfHulWvyA" target="_blank" rel="external canonical">Delist tutorial SORBS Spam Blacklist (pt-br)</a>
                    <li><a href="https://www.evernote.com/shard/s397/sh/aa4feff3-a081-da4c-9b4e-a40deb96238a/PNS2uRwM66Rhrd13QBkiaaqef6WPfmfw31ltM8_5GnXn7qWZ7dV_BIA7zQ" target="_blank" rel="external canonical">How to block email contacts in CWP pane (en-us)</a>
                    <li><a href="https://www.evernote.com/shard/s397/sh/5bd33218-5456-a54d-4d48-c47acb69ba62/i9cmfw8VIYsStII7btQDubugpglyj8Dsj9ToTgi77pmRFLB3CwGTGsmmFA" target="_blank" rel="external canonical">Email DNS Hotfixes (pt-br)</a>
                </ul>
            </menu>

            <menu id="menudatabases" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="databases1" class="animbackmenu1" onclick="clickDatabases()">Databases</h2>
                    <h2 id="databases2" class="animbackmenu2" onclick="clickDatabases()">Databases</h2>
                    <h2 id="databases3" class="animbackmenu3" onclick="clickDatabases()">Databases</h2>
                    <h2 class="animbackmenu-back" onclick="clickDatabases()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.evernote.com/shard/s397/sh/d66656a5-e27d-7d54-1744-ab0db6de36f2/R497knw2GBvzc8gNypne22j3CQGtggUW14UP6lVSFGvPdE6-47yLIJmDGg" target="_blank" rel="external canonical">Xtrabackup Mysql Migration</a>
                </ul>
            </menu>

            <menu id="menuwebservers" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="webservers1" class="animbackmenu1" onclick="clickWebservers()">Webservers</h2>
                    <h2 id="webservers2" class="animbackmenu2" onclick="clickWebservers()">Webservers</h2>
                    <h2 id="webservers3" class="animbackmenu3" onclick="clickWebservers()">Webservers</h2>
                    <h2 class="animbackmenu-back" onclick="clickWebservers()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.evernote.com/shard/s397/sh/3ceaf41b-2376-59af-8388-3f2b060eef5f/WLANIedvoZwLH3KHQFAwRwc3qSa_rwqxHBfRrQcAHeeqyxSR3NIfLIjJlg" target="_blank" rel="external canonical">Flask Framework full config (pt-br)</a>
                    <li><a href="https://www.evernote.com/shard/s397/sh/b86503e5-243e-7a4b-ecd5-b0ae9c91be4a/Hn9r3CKqSbBgDg4I_nMM-leucOeklSOod0abDjvOP0Ysem7uOJXcxqqA4A" target="_blank" rel="external canonical">Flask Framework full config - Virtuozzo Application Platform (pt-br)</a>
                </ul>
            </menu>

            <menu id="menumiscellaneous" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="miscellaneous1" class="animbackmenu1" onclick="clickMiscellaneous()">Miscellaneous</h2>
                    <h2 id="miscellaneous2" class="animbackmenu2" onclick="clickMiscellaneous()">Miscellaneous</h2>
                    <h2 id="miscellaneous3" class="animbackmenu3" onclick="clickMiscellaneous()">Miscellaneous</h2>
                    <h2 class="animbackmenu-back" onclick="clickMiscellaneous()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.evernote.com/shard/s397/sh/bc017a63-6d27-dd78-c146-329579dddd56/QhjnKiNzKoWGzucYN7JAVsk9Yt4BNjOATrBbcsZPrI9ktxpQBuA19QxVTw" target="_blank" rel="external canonical">Good coexistence - Guide (en-us)</a>
                    <li><a href="https://www.evernote.com/shard/s397/sh/871246a0-c0c2-1900-fb9e-90db7903e84d/sX6KUo6D65rFSxTLDJQk54Wk-YkHILNMaRJR1E1XgWG3lQ1u3BMSyA-DWg" target="_blank" rel="external canonical">Minecraft server - Step by step (pt-br)</a>
                </ul>
            </menu>
            
            <h2 id="bootcamp" class="menuclick" onclick="clickBootcamp()">Bootcamp sessions</h2>

            <menu id="menubootcamp" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="bootcamp1" class="animbackmenu1" onclick="clickBootcamp()">Bootcamps</h2>
                    <h2 id="bootcamp2" class="animbackmenu2" onclick="clickBootcamp()">Bootcamps</h2>
                    <h2 id="bootcamp3" class="animbackmenu3" onclick="clickBootcamp()">Bootcamps</h2>
                    <h2 class="animbackmenu-back" onclick="clickBootcamp()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="https://www.linkedin.com/posts/yohrannes_cloud-aws-google-activity-7075804666545999872-H4xU?utm_source=share&utm_medium=member_desktop" target="_blank" rel="external">Cloud in practice imersion</a>
                        <a href="../static/docs/certificates/k8s-docker/certificate-mes-do-kubernetes-segundo.pdf" target="_blank" rel="external canonical">Kubernetes Month</a>
                        <a href="../static/docs/certificates/devops/certificate-semana-devops.pdf" target="_blank" rel="external canonical">DevOps Week</a>
                    </li>
                </ul>
            </menu>

            <h2 id="handsonprojects" class="menuclick" onclick="clickHandsOnProjects()">Hands-on cloud projects</h2>

            <menu id="menuhandsonprojects" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="handsonprojects1" class="animbackmenu1" onclick="clickHandsOnProjects()">Hands-on Projects</h2>
                    <h2 id="handsonprojects2" class="animbackmenu2" onclick="clickHandsOnProjects()">Hands-on Projects</h2>
                    <h2 id="handsonprojects3" class="animbackmenu3" onclick="clickHandsOnProjects()">Hands-on Projects</h2>
                    <h2 class="animbackmenu-back" onclick="clickHandsOnProjects()">◂</h2>
                </menu>
                <h2 id="googlecloudhandson" class="secondmenuclick" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
                <h2 id="oraclecloudhandson" class="secondmenuclick" onclick="clickOracleCloudHandsOn()">Oracle Cloud</h2>
                <h2 id="awshandson" class="secondmenuclick" onclick="clickAwsHandsOn()">AWS</h2>
            </menu>

            <menu id="menugooglecloudhandson" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="googlecloudhandson1" class="animbackmenu1" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
                    <h2 id="googlecloudhandson2" class="animbackmenu2" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
                    <h2 id="googlecloudhandson3" class="animbackmenu3" onclick="clickGoogleCloudHandsOn()">Google Cloud</h2>
                        <h2 class="animbackmenu-back" onclick="clickGoogleCloudHandsOn()">◂</h2>
                    </menu>
                <ul class="linklist">
                    <li><a href="https://www.cloudskillsboost.google/public_profiles/d446290c-301d-4cec-bf2c-c1e1ba9752f1" target="_blank" rel="external">Badges and certifications</a>
                    <li><a href="https://github.com/yohrannes/gcp-devops" target="_blank" rel="external">Terraform + Gitlab pipeline (Github)</a>
                    <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7135266117219958786/" target="_blank" rel="external">IAM & VPC Network</a>
                    <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7138535133325721600/" target="_blank" rel="external">New VPC GCP <-> AWS</a>
                    <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7142876270115168257/" target="_blank" rel="external">Lift Shift + K8s Migrations</a>
                    <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7146137765502525440/" target="_blank" rel="external">Migration US > Australia</a>
                    <li><a href="https://www.linkedin.com/feed/update/urn:li:activity:7148674457295888384/" target="_blank" rel="external">Load Balancer US > Europe</a>
                    <li><a href="https://github.com/yohrannes/gcp-devops" target="_blank" rel="external">DevOps projects</a>
                </ul>
            </menu>

            <menu id="menuoraclecloudhandson" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="oraclecloudhandson1" class="animbackmenu1" onclick="clickOracleCloudHandsOn()">Oracle Cloud</h2>
                    <h2 id="oraclecloudhandson2" class="animbackmenu2" onclick="clickOracleCloudHandsOn()">Oracle Cloud</h2>
                    <h2 id="oraclecloudhandson3" class="animbackmenu3" onclick="clickOracleCloudHandsOn()">Oracle Cloud</h2>
                    <h2 class="animbackmenu-back" onclick="clickOracleCloudHandsOn()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.evernote.com/shard/s397/sh/6b4e9638-68f6-e36f-dcf9-00e922dc8e10/ImiTNOIbuZaUYPoJ-7uY_Ss3viz05NodeBCsrQctgs-DVTftUKX3hosXyw" target="_blank" rel="external canonical">K8s + ingress-nginx + cert-manager totally free OKE (pt-br)</a>
                </ul>
            </menu>

            <menu id="menuawshandson" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="awshandson1" class="animbackmenu1" onclick="clickAwsHandsOn()">AWS</h2>
                    <h2 id="awshandson2" class="animbackmenu2" onclick="clickAwsHandsOn()">AWS</h2>
                    <h2 id="awshandson3" class="animbackmenu3" onclick="clickAwsHandsOn()">AWS</h2>
                    <h2 class="animbackmenu-back" onclick="clickAwsHandsOn()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://github.com/yohrannes/terraform-aws-sns-to-googlechat" target="_blank" rel="external canonical">Terraform AWS SNS to Google Chat</a>
                    <li><a href="https://github.com/yohrannes/terraform-aws-cloudshell" target="_blank" rel="external canonical">Terraform AWS Cloudshell</a>
                    <li><a href="https://github.com/yohrannes/terraform-aws-ec2-resize-scheduler" target="_blank" rel="external canonical">Terraform AWS EC2 Resize Scheduler</a>
                </ul>
            </menu>

            <h2 id="achievementsandcertifications" class="menuclick" onclick="clickAchievementsAndCertifications()">Certs & Results</h2>

            <menu id="menuachievementsandcertifications" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="achievementsandcertifications1" class="animbackmenu1" onclick="clickAchievementsAndCertifications()">Certs & Results..</h2>
                    <h2 id="achievementsandcertifications2" class="animbackmenu2" onclick="clickAchievementsAndCertifications()">Certs & Results..</h2>
                    <h2 id="achievementsandcertifications3" class="animbackmenu3" onclick="clickAchievementsAndCertifications()">Certs & Results..</h2>
                    <h2 class="animbackmenu-back" onclick="clickAchievementsAndCertifications()">◂</h2>
                </menu>

                <h2 id="gcpcert" class="secondmenuclick" onclick="clickGcpCert()">Google Cloud Platform (GCP)</h2>   
                <h2 id="devcert" class="secondmenuclick" onclick="clickDevCert()">Development</h2>
                <h2 id="devopscicdcert" class="secondmenuclick" onclick="clickDvOpCiCdCert()">DevOps + CI-CD</h2>   
                <h2 id="k8sdockercert" class="secondmenuclick" onclick="clickK8sDockerCert()">Kubernetes + Docker</h2>
                <h2 id="monitoringcert" class="secondmenuclick" onclick="clickMonitCert()">Monitoring</h2>
            </menu>

            <menu id="menugooglecloudcertifications" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="googlecloudcertifications1" class="animbackmenu1" onclick="clickGcpCert()">Google Cloud Platform (GCP)</h2>
                    <h2 id="googlecloudcertifications2" class="animbackmenu2" onclick="clickGcpCert()">Google Cloud Platform (GCP)</h2>
                    <h2 id="googlecloudcertifications3" class="animbackmenu3" onclick="clickGcpCert()">Google Cloud Platform (GCP)</h2>
                    <h2 class="animbackmenu-back" onclick="clickGcpCert()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://www.cloudskillsboost.google/public_profiles/d446290c-301d-4cec-bf2c-c1e1ba9752f1" target="_blank" rel="external">Google Cloud Badges and Certifications</a>
                </ul>
            </menu>

            <menu id="menudevelopmentcertifications" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="developmentcertifications1" class="animbackmenu1" onclick="clickDevCert()">Development</h2>
                    <h2 id="developmentcertifications2" class="animbackmenu2" onclick="clickDevCert()">Development</h2>
                    <h2 id="developmentcertifications3" class="animbackmenu3" onclick="clickDevCert()">Development</h2>
                    <h2 class="animbackmenu-back" onclick="clickDevCert()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="https://github.com/yohrannes/website-portifolio/tree/main/static/docs/certificates/development/HTMLCSS" target="_blank" rel="external canonical">HTML and CSS</a>
                    <li><a href="../static/docs/certificates/devops/Yohrannes-Santos-Bigoli-Git-e-GitHub-20-Horas-Certificado-Curso-em-Video.pdf" target="_blank" rel="external canonical">Git and Github</a>
                    <li><a href="../static/docs/certificates/devops/Certificado Introdução ao shell script.pdf" target="_blank" rel="external canonical">Shell Script</a>
                </ul>
            </menu>

            <menu id="menudevopscicdcertifications" class="secondmenu"> 
                <menu class="animbackmenu">
                    <h2 id="devopscicdcertifications1" class="animbackmenu1" onclick="clickDvOpCiCdCert()">DevOps + CI-CD</h2>
                    <h2 id="devopscicdcertifications2" class="animbackmenu2" onclick="clickDvOpCiCdCert()">DevOps + CI-CD</h2>
                    <h2 id="devopscicdcertifications3" class="animbackmenu3" onclick="clickDvOpCiCdCert()">DevOps + CI-CD</h2>
                    <h2 class="animbackmenu-back" onclick="clickDvOpCiCdCert()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="../static/docs/certificates/devops/semanadevops.png" rel="external canonical" target="_blank">DevOps Week</a></li>
                    <li><a href="../static/docs/certificates/devops/certificate-terraform-essentials.pdf" rel="external canonical" target="_blank">Terraform Essentials</a></li>
                    <li><a href="../static/docs/certificates/k8s-docker/certificate-desafio-argocd.pdf" target="_blank" rel="external canonical">Argo CD</a></li>
                    <li><a href="../static/docs/certificates/devops/terminallinuxalfahelix.webp" rel="external canonical" target="_blank">Terminal Linux</a></li>
                </ul>
            </menu>

            <menu id="menukubernetesdockercertifications" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="kubernetesdockercertifications1" class="animbackmenu1" onclick="clickK8sDockerCert()">Kubernetes + Docker</h2>
                    <h2 id="kubernetesdockercertifications2" class="animbackmenu2" onclick="clickK8sDockerCert()">Kubernetes + Docker</h2>
                    <h2 id="kubernetesdockercertifications3" class="animbackmenu3" onclick="clickK8sDockerCert()">Kubernetes + Docker</h2>
                    <h2 class="animbackmenu-back" onclick="clickK8sDockerCert()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="../static/docs/certificates/k8s-docker/docker.pdf" target="_blank" rel="external canonical">Docker - with Swarm and K8s</a>
                    <li><a href="../static/docs/certificates/k8s-docker/certificate-mes-do-kubernetes-segundo.pdf" target="_blank" rel="external canonical">Kubernetes Month</a>
                    <li><a href="../static/docs/certificates/k8s-docker/certificate-kubernetes-essentials-linux-tips.pdf" target="_blank" rel="external canonical">Kubernetes Essentials</a>
                </ul>
            </menu>

            <menu id="menumonitoringcertifications" class="secondmenu">
                <menu class="animbackmenu">
                    <h2 id="monitoringcertifications1" class="animbackmenu1" onclick="clickMonitCert()">Monitoring</h2>
                    <h2 id="monitoringcertifications2" class="animbackmenu2" onclick="clickMonitCert()">Monitoring</h2>
                    <h2 id="monitoringcertifications3" class="animbackmenu3" onclick="clickMonitCert()">Monitoring</h2>
                    <h2 class="animbackmenu-back" onclick="clickMonitCert()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li><a href="../static/docs/certificates/monitoring/Monitoramento com Zabbix e Grafana.jpg" target="_blank" rel="external canonical">Monitoring with zabbix and grafana</a>
                    <li><a href="../static/docs/certificates/monitoring/Datadog Agent on Docker.pdf" target="_blank" rel="external canonical">Datadog Agent on Docker</a>
                </ul>
            </menu>

            <h2 id="aboutme" class="menuclick" onclick="clickAboutMe()">About me</h2>

            <menu id="menuaboutme" class="firstmenu">
                <menu class="animbackmenu">
                    <h2 id="aboutme1" class="animbackmenu1" onclick="clickAboutMe()">About me</h2>
                    <h2 id="aboutme2" class="animbackmenu2" onclick="clickAboutMe()">About me</h2>
                    <h2 id="aboutme3" class="animbackmenu3" onclick="clickAboutMe()">About me</h2>
                    <h2 class="animbackmenu-back" onclick="clickAboutMe()">◂</h2>
                </menu>
                <ul class="linklist">
                    <li>
                        <a href="contact" target="_self">Get in touch</a>
                        <a href="whoami" target="_blank">Who am i</a>
                        <a href="https://www.discprofile.com/disc-styles/steadiness" target="_self">DiSC profile</a>
                    </li>
                </ul>
            </menu>

        </menu>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(
            function() {
            $.get('/pod-info', function(data) {
                $('#websiteinfo').html(data);
            });
        });
    </script>
    <a id="monit-logo" href="https://www.google.com">
        <img src="../static/images/monit-logo.png" alt="">
    </a>
    <div id="k8s-logo">
        <img src="../static/images/k8s-logo.png" alt="">
        <a id="websiteinfo" href="devops" target="_self"></a>
    </div>
    <script src="../static/js/anim-menu.js"></script>
    <script src="../static/js/anim-titulo.js"></script>
    <script src="../static/js/anim-typewriter.js"></script>
    <!-- <script src="../static/js/anim-back-menu.js"></script> -->
</header>
</body>
</html>
