<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/blog-style/style.css">
    <link rel="stylesheet" href="../static/css/blog-style/print.css">
    <link rel="stylesheet" href="../static/css/blog-style/tablet.css">
    <link rel="stylesheet" href="../static/css/blog-style/desktop.css">
    <link rel="stylesheet" href="../static/css/blog-style/big-screens.css">
    <link rel="stylesheet" href="../static/css/animations/anim-glitchop.css">
    <link rel="stylesheet" href="../static/css/animations/anim-glitch.css">
    <link rel="shortcut icon" href="../static/images/icons/icon-notes.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compsatible" content="IE=edge">
    <title>Website Specs</title>
</head>
<body>
    <header>
        <div>
            <h1 id="title">Website Specifications</h1>
        </div>
    </header>
    <nav>
        <!--Nav content-->
    </nav>
    <main>
        <h2>Hosting</h2>
        <br>
        <p>This is an website hosted on Oracle Kubernetes Cluster (OKE), managed by <a href="https://github.com/yohrannes" target="_blank" rel="external">me.</a></p>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima tenetur, veritatis sunt laborum eveniet aperiam repellat? Modi commodi quam eius mollitia non est quis. Odio consequuntur sequi asperiores earum hic.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima tenetur, veritatis sunt laborum eveniet aperiam repellat? Modi commodi quam eius mollitia non est quis. Odio consequuntur sequi asperiores earum hic.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima tenetur, veritatis sunt laborum eveniet aperiam repellat? Modi commodi quam eius mollitia non est quis. Odio consequuntur sequi asperiores earum hic.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima tenetur, veritatis sunt laborum eveniet aperiam repellat? Modi commodi quam eius mollitia non est quis. Odio consequuntur sequi asperiores earum hic.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima tenetur, veritatis sunt laborum eveniet aperiam repellat? Modi commodi quam eius mollitia non est quis. Odio consequuntur sequi asperiores earum hic.</p>
    </main> <!-- See body:before {height} if + text -->
    <footer>
        <!--Footer content-->
    </footer>
</body>
</html>