<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/blog-style/style.css">
    <link rel="stylesheet" href="../static/css/blog-style/print.css">
    <link rel="stylesheet" href="../static/css/blog-style/tablet.css">
    <link rel="stylesheet" href="../static/css/blog-style/desktop.css">
    <link rel="stylesheet" href="../static/css/blog-style/big-screens.css">
    <link rel="stylesheet" href="../static/css/blog-style/photo-glitch.css">
    <link rel="stylesheet" href="../static/css/animations/anim-glitchop.css">
    <link rel="stylesheet" href="../static/css/animations/anim-glitch.css">
    <link rel="shortcut icon" href="../static/images/icons/icon-notes.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hi!</title>
  </head>
<body>
    <header>
    </header>
    <nav>
        <!-- Nav content -->
    </nav>
    <div id="fotoblogdiv">
      <img id="fotoblog" src="https://avatars.githubusercontent.com/u/51239326?v=4" alt="Profile Photo">
    </div>
    <main>
      <section id="getintouch">
        <p>Hello! I'm Yohrannes, and I'm glad you're here. I have a degree in Systems Analysis and Development, and I am passionate about all aspects of Information Technology, including DevOps, Linux systems, software development and graphic design, which I use as a creative outlet.</p>
        <br>
        <p>I currently work as an SRE Infrastructure Analyst at Dcide, a company specialising in information solutions, quantitative modelling and risk management for the Brazilian energy market. I developed my expertise at SaveInCloud, one of Latin America's leading cloud hosting providers and Virtuozzo's largest partner in the region. There, I worked with scalable cloud infrastructure, high-availability environments and DevOps practices.</p>
        <br>
        <p>Throughout my career, I have specialised in cloud infrastructure management, automation, monitoring systems and Site Reliability Engineering practices. I'm constantly seeking opportunities to expand my technical knowledge through continuous learning and professional certifications, while building meaningful relationships and delivering quality solutions.</p>
        <br>
        <p>My journey into IT began during my teenage years when I enrolled on a computer assembly and maintenance course. This experience opened my eyes to the vast possibilities within the IT sector, and with the guidance of my exceptional mentor Michel Paulo, I started earning money by providing computer maintenance services. This foundation led me to pursue an industrial apprenticeship course, where I learned invaluable lessons from dedicated teachers that continue to shape my professional approach today.</p>
        <br>
        <p>I then attended the University of Technology (FATEC), which further solidified my commitment to the IT field. The comprehensive education and mentorship I received from competent professors deepened my understanding of the subject and reinforced my decision to pursue a career in IT.</p>
        <br>
        <p>During my time at university, I volunteered at Jadyr School in Santa Bárbara D'Oeste, teaching computer hardware and guitar to children. Following this, I undertook my first professional internship at Vector, where I gained substantial experience in development environments and the T-SQL programming language.</p>
        <br>
        <p>Thank you for taking the time to learn about my journey.</p> 
      </section>
    </main>
    <footer>
      <!--Footer content-->
   </footer>
</body>
</html>